@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: #990000;
        --secondary: #008040;
        --accent: #cc4200;
        --surface: #f5f5f5;
    }

    html {
        font-family: "M PLUS Rounded 1c", sans-serif;
    }
}

@layer utilities {
    .animate-fade-in-up {
        animation: fade-in-up 0.8s ease-out forwards;
    }

    .animate-bounce-slow {
        animation: bounce-slow 3s infinite ease-in-out;
    }
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce-slow {

    0%,
    100% {
        transform: translateY(0) rotate(-12deg);
    }

    50% {
        transform: translateY(-10px) rotate(-12deg);
    }
}